ENVIRONMENT=dev

NODE_ENV=development
PORT=3001

PG_USER=admin
PG_PASSWORD=password
PG_DB=neswear_dev
PG_HOST=postgres
PG_PORT=5432

MINIO_USER=admin
MINIO_PASSWORD=miniopassword
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_BUCKET=assets

JWT_SECRET=mustprotectthis
JWT_REFRESH_SECRET=mustprotecttoo

REDIS_HOST=redis
REDIS_PORT=6379

NEXT_PUBLIC_API_URL=http://20.205.27.144:3001