ENVIRONMENT=staging

NODE_ENV=production
PORT=3002

PG_USER=admin
PG_PASSWORD=password
PG_DB=neswear_staging
PG_HOST=postgres
PG_PORT=5432

MINIO_USER=admin
MINIO_PASSWORD=miniopassword
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_BUCKET=assets

JWT_SECRET=mustprotectthis
JWT_REFRESH_SECRET=mustprotecttoo

REDIS_HOST=redis
REDIS_PORT=6379

NEXT_PUBLIC_API_URL=http://32.192.34.44:3002